title:            Neg blog
tagline:          Neg blog
description:      ""
disqus_shortname: Neg
share:            true
dropcap:          true
baseurl:          /
url:          	  https://neg-serg.github.io
version:          0.2
gems:             [jekyll-paginate, jekyll-gist]

# Owner/author information
owner:
  name:             Sergey Miroshnichenko
  avatar:           colourful_avatar.png
  email:            serg.zorg@gmail.com
  # Use the coder's toolbox at http://coderstoolbox.net/string/#!encoding=xml&action=encode&charset=us_ascii to encode your description into XML string
  # Social networking links used in footer. Update and remove as you like.
  github:           https://github.com/neg-serg?tab=repositories
  github_username:  neg-serg
  google_plus:      https://plus.google.com/u/0/102602916593522619858

google_analytics:   
google_verify:      
    
# Links to include in footer navigation
# For external links add external: true
links:
  - title: Home
    url: /
    external: false
    icon: home
  - title: Featured Posts
    url: /featured
  - title: Categories
    url: /categories

timezone:    Europe/Moscow
future:      true
highlighter: rouge
markdown:    kramdown
excerpt_separator: "<!--excerpt-->"
paginate: 10
github: [Repository metadata]
permalink:   pretty

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6

include: [".htaccess"]
exclude: [ 
    "lib", 
    "config.rb",
    "Gemfile",
    "Capfile",
    "Gemfile.lock",
    "config",
    "log",
    "Rakefile",
    "Rakefile.rb",
    "tmp",
    "less",
    "*.sublime-project",
    "*.sublime-workspace",
    "test",
    "spec",
    "Gruntfile.js",
    "package.json",
    "node_modules"
]
